@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
header {
  position: relative; }
  header .return {
    position: absolute;
    vertical-align: middle;
    left: 1rem; }
  header .header_logo {
    text-align: center;
    font-family: "Shrikhand";
    padding: 0.5rem;
    margin: 0; }

body {
  margin: 0; }

main {
  font-family: "Roboto"; }
  main .local {
    padding: 1rem;
    text-align: center;
    background-color: #e7e7e7;
    box-shadow: inset 0 20px 20px -29px rgba(0, 0, 0, 0.8); }
  main .exp {
    background-color: #f2f2f2e3;
    text-align: center;
    padding: 2rem 2rem 4rem 2rem; }
    main .exp h2 {
      margin: 0;
      font-size: 23px; }
    main .exp .sous_texte {
      font-weight: lighter;
      padding-bottom: 2rem; }
    main .exp .button {
      text-decoration: none;
      color: white;
      background: linear-gradient(#FF79DA, #9356DC);
      border-radius: 30px;
      padding: 1rem;
      box-shadow: 0.25rem 0.25rem 10px #0e0e0e73; }
  main .fct h2 {
    padding: 3rem 1rem 1rem 1rem;
    margin: 0;
    font-size: 23px; }
  main .fct .fct_container .fct_ol {
    margin: 0;
    padding: 1rem; }
    main .fct .fct_container .fct_ol .fct_object {
      padding: 1.5rem;
      margin: 1rem 0 1rem 0;
      box-shadow: 0 5px 40px -27px black;
      border-radius: 1rem;
      background-color: #f6f6f6; }
      main .fct .fct_container .fct_ol .fct_object ol li::before {
        content: counter(before);
        background-color: #9356DC;
        border-radius: 20 px;
        color: #fff;
        counter-increment: ope; }
  main .container {
    padding: 1rem;
    background-color: #f2f2f2e3;
    text-decoration: none; }
    main .container .card_restaurants {
      display: flex;
      flex-direction: column; }
      main .container .card_restaurants .card {
        position: relative;
        margin: 15px 0 px;
        margin-bottom: 1rem;
        text-decoration: none;
        color: black;
        box-shadow: 0 5px 40px -27px rgba(0, 0, 0, 0.289);
        border-radius: 1rem; }
        main .container .card_restaurants .card img {
          height: 12rem;
          width: 100%;
          object-fit: cover;
          border-radius: 1rem 1rem 0 0; }
        main .container .card_restaurants .card .card_badge {
          background-color: #99e2d0;
          color: #1b6150;
          padding: 0.5rem;
          position: absolute;
          top: 1rem;
          right: 0.75rem;
          text-decoration: none; }
        main .container .card_restaurants .card .card_under {
          display: flex;
          justify-content: space-between;
          background-color: white;
          margin-top: -4px;
          padding: 1rem;
          border-radius: 0 0 1rem 1rem; }
          main .container .card_restaurants .card .card_under .card_info h3 {
            margin: 0;
            font-weight: 500; }
          main .container .card_restaurants .card .card_under .card_info span {
            font-weight: lighter; }
          main .container .card_restaurants .card .card_under .card_info .heart {
            display: flex;
            align-items: center;
            font-size: 16px; }

.footer {
  background-color: #292929e9;
  padding: 1rem;
  color: white; }
  .footer .footer_logo {
    font-family: "Shrikhand"; }
  .footer ul {
    list-style-type: none;
    padding: 0; }
    .footer ul a {
      text-decoration: none;
      color: white; }
      .footer ul a .footer_bold .footer_light {
        padding-bottom: 1rem; }
        .footer ul a .footer_bold .footer_light .sticker {
          padding-right: 1rem; }
