@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
.header_logo {
  text-align: center;
  font-family: "Shrikhand";
  padding: 0.5rem;
  margin: 0; }

body {
  margin: 0; }

main {
  font-family: "Roboto"; }
  main .local {
    padding: 1rem;
    text-align: center;
    background-color: #e7e7e7;
    box-shadow: inset 0 20px 20px -29px rgba(0, 0, 0, 0.8); }
  main .exp {
    background-color: #f2f2f2e3;
    text-align: center;
    padding: 2rem 2rem 4rem 2rem; }
    main .exp h2 {
      margin: 0;
      font-size: 23px; }
    main .exp .sous_texte {
      font-weight: lighter;
      padding-bottom: 2rem; }
    main .exp .button {
      text-decoration: none;
      color: white;
      background: linear-gradient(#FF79DA, #9356DC);
      border-radius: 30px;
      padding: 1rem;
      box-shadow: 0.25rem 0.25rem 10px #0e0e0e73; }
  main .fct h2 {
    padding: 3rem 1rem 2rem 1rem;
    margin: 0;
    font-size: 23px; }
  main .fct .fct_object {
    padding-left: 1rem; }
    main .fct .fct_object ol {
      display: flex;
      box-shadow: 0.25rem 0.25rem 10px #0e0e0e73; }
    main .fct .fct_object ol li::before {
      content: counter(before);
      background-color: #9356DC;
      border-radius: 20 px;
      color: #fff;
      counter-increment: ope; }
