@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@keyframes fade_in {
  from {
    transform: translateY(1rem);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }
@keyframes menu_check {
  from {
    width: 0; }
  to {
    width: 80px; } }
.heart {
  position: relative;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  .heart .heart_icon {
    position: absolute; }
  .heart .heart_full {
    opacity: 0;
    background: linear-gradient(#FF79DA, #9356DC); }

.heart:hover .fa-heart {
  opacity: 1;
  transform: scale(1.1);
  display: block;
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  transition-duration: 500ms; }

@keyframes fade_out {
  99% {
    opacity: 1; }
  100% {
    opacity: 0;
    visibility: hidden; } }
@keyframes loader {
  100% {
    transform: translateY(-30px); } }
.loader {
  height: 100%;
  width: 100%;
  background: white;
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fade_out 2.5s ease-in-out forwards; }
  .loader .dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 15px;
    animation: loader infinite 0.3s alternate; }
  .loader .d1 {
    background: #9356DC; }
  .loader .d2 {
    animation-delay: 0.1s;
    background: #FF79DA; }
  .loader .d3 {
    animation-delay: 0.2s;
    background: #99E2D0; }

header {
  position: relative; }
  header .return {
    position: absolute;
    top: 1.5rem;
    left: 1rem;
    color: black; }
  header .header_logo {
    text-align: center;
    font-family: "Shrikhand";
    padding: 0.5rem;
    margin: 0; }

body {
  margin: 0; }

main {
  font-family: "Roboto"; }
  main .local {
    padding: 1rem;
    text-align: center;
    background-color: #e7e7e7;
    box-shadow: inset 0 20px 20px -29px rgba(0, 0, 0, 0.8); }
  main .exp {
    background-color: #f2f2f2e3;
    text-align: center;
    padding: 2rem 2rem 4rem 2rem; }
    main .exp h2 {
      margin: 0;
      font-size: 23px; }
    main .exp .sous_texte {
      font-weight: lighter;
      padding-bottom: 2rem; }
    main .exp .button {
      text-decoration: none;
      color: white;
      background: linear-gradient(#FF79DA, #9356DC);
      border-radius: 30px;
      padding: 1rem;
      box-shadow: 0.25rem 0.25rem 10px #0e0e0e73; }
      main .exp .button:hover {
        opacity: 0.8; }
  main .fct {
    margin-bottom: 3.5rem; }
    main .fct h2 {
      padding: 3rem 1rem 1rem 1rem;
      margin: 0;
      font-size: 23px; }
    main .fct .fct_container .fct_ol {
      margin: 0;
      padding-left: 1.75rem;
      padding-right: 1rem;
      list-style: none;
      counter-reset: list-number; }
      @media screen and (min-width: 700px) {
        main .fct .fct_container .fct_ol {
          display: flex;
          justify-content: space-evenly;
          padding: 0 !important; } }
      main .fct .fct_container .fct_ol .fct_object {
        padding: 1.5rem;
        margin: 1rem 0 1rem 0;
        box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.152);
        border-radius: 1rem;
        background-color: #f6f6f6;
        position: relative; }
      main .fct .fct_container .fct_ol .fct_ast {
        width: 20px;
        height: 20px;
        padding-right: 0.5rem; }
    main .fct .fct_container .fct_object:hover {
      cursor: pointer;
      background-color: #9256dc33;
      color: #9356DC; }
      main .fct .fct_container .fct_object:hover i {
        color: #9356DC; }
    main .fct .fct_container .fct_object::before {
      counter-increment: list-number;
      content: counter(list-number);
      background-color: #9356DC;
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 50%;
      color: #fff;
      position: absolute;
      left: -0.75rem;
      display: flex;
      justify-content: center;
      align-items: center; }
  main .container {
    padding: 1rem;
    background-color: #f2f2f2e3;
    text-decoration: none; }
    @media screen and (min-width: 700px) {
      main .container .card_restaurants {
        flex-direction: row !important;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1200px;
        margin: auto; }
        main .container .card_restaurants a {
          width: 45%;
          margin: 0.5rem !important; } }
    main .container .card_restaurants {
      display: flex;
      flex-direction: column; }
      main .container .card_restaurants .card {
        position: relative;
        margin-bottom: 1rem;
        text-decoration: none;
        color: black;
        box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.289);
        border-radius: 1rem; }
        main .container .card_restaurants .card img {
          height: 11rem;
          width: 100%;
          object-fit: cover;
          border-radius: 1rem 1rem 0 0; }
        main .container .card_restaurants .card .card_badge {
          background-color: #99e2d0;
          color: #1b6150;
          padding: 0.5rem;
          position: absolute;
          top: 1rem;
          right: 0.75rem;
          text-decoration: none; }
        main .container .card_restaurants .card .card_under {
          display: flex;
          justify-content: space-between;
          background-color: white;
          margin-top: -4px;
          padding: 1rem;
          border-radius: 0 0 1rem 1rem; }
          main .container .card_restaurants .card .card_under .card_info h3 {
            margin: 0;
            font-weight: 500; }
          main .container .card_restaurants .card .card_under .card_info span {
            font-weight: lighter; }
          main .container .card_restaurants .card .card_under .card_info .heart {
            display: flex;
            align-items: center;
            font-size: 16px; }

.menu_img {
  width: 100%;
  max-height: 30rem;
  object-fit: cover;
  z-index: 0; }

@media screen and (min-width: 1250px) {
  .container_menu {
    width: 90% !important;
    display: flex !important;
    justify-content: center;
    flex-direction: column;
    margin: auto; }
    .container_menu .box_menu {
      display: flex;
      justify-content: center; }
      .container_menu .box_menu .submenu_card {
        max-width: 350px;
        min-width: 350px; } }
.container_menu {
  width: 100%;
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  display: block;
  font-family: "Roboto";
  position: relative;
  z-index: 1; }
  .container_menu .menu_title {
    padding: 2rem 1rem 1rem 1rem;
    display: flex;
    justify-content: space-between; }
    .container_menu .menu_title h2 {
      margin: 0;
      font-family: "Shrikhand"; }
  .container_menu .submenu {
    padding: 1rem; }
    .container_menu .submenu .title_menu h3 {
      font-weight: lighter;
      margin-top: 0;
      position: relative;
      margin-bottom: 1rem; }
    .container_menu .submenu .title_menu hr {
      position: absolute;
      width: 30px;
      border: 1px solid #99E2D0;
      margin-top: -1rem; }
    .container_menu .submenu .submenu_card {
      width: 100%;
      display: flex;
      justify-content: space-between;
      background-color: white;
      border-radius: 1rem;
      margin-bottom: 1rem;
      box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.289);
      animation: fade_in 1.5s ease 0s 1 normal forwards; }
      .container_menu .submenu .submenu_card .submenu_info {
        display: flex;
        padding: 1rem;
        justify-content: space-between;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
        .container_menu .submenu .submenu_card .submenu_info .sub_text {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
          .container_menu .submenu .submenu_card .submenu_info .sub_text .submenu_title {
            margin: 0;
            font-weight: 500;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; }
          .container_menu .submenu .submenu_card .submenu_info .sub_text .submenu_subtitle {
            font-weight: lighter;
            font-size: 15px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; }
        .container_menu .submenu .submenu_card .submenu_info .submenu_prix {
          display: flex;
          bottom: 1rem;
          right: 1rem;
          align-items: end; }
      .container_menu .submenu .submenu_card .menu_green {
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #99E2D0;
        border-radius: 0 1rem 1rem 0;
        overflow: hidden;
        width: 0;
        cursor: pointer; }
        .container_menu .submenu .submenu_card .menu_green i {
          margin: auto;
          color: white;
          width: 25px;
          font-size: 20px;
          transform: rotate(-380deg);
          transition-duration: 0.6s;
          display: flex;
          align-items: center;
          justify-content: center; }
      .container_menu .submenu .submenu_card:hover {
        display: flex; }
        .container_menu .submenu .submenu_card:hover .menu_green {
          opacity: 1;
          animation: menu_check 0.4s ease-in-out forwards; }
          .container_menu .submenu .submenu_card:hover .menu_green i {
            transform: rotate(0);
            width: 10px; }
  .container_menu .div_button {
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 1rem 0rem 3rem 0rem; }
    .container_menu .div_button .button {
      margin: 1rem;
      text-decoration: none;
      color: white;
      background: linear-gradient(#FF79DA, #9356DC);
      border-radius: 30px;
      padding: 0.75rem 2rem;
      box-shadow: 0.25rem 0.25rem 10px #0e0e0e73;
      justify-self: center; }
      .container_menu .div_button .button:hover {
        opacity: 0.8; }

.footer {
  background-color: #292929e9;
  padding: 1rem;
  color: white; }
  @media screen and (min-width: 780px) {
    .footer div {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .footer div ul {
        display: inherit;
        width: 80%;
        justify-content: space-around; } }
  .footer .footer_logo {
    font-family: "Shrikhand"; }
  .footer ul {
    list-style-type: none;
    padding: 0; }
    .footer ul .footer_link {
      font-family: "Roboto";
      margin: 0.5rem 0; }
      .footer ul .footer_link a {
        text-decoration: none;
        color: white;
        padding-bottom: 1rem; }
      .footer ul .footer_link .sticker {
        width: 20px;
        height: 20px;
        padding-right: 0.5rem; }
