            .menu_img {
                width: 100%;
                max-height: 30rem;
                object-fit: cover;
                z-index: 0;
            }
            
            @media screen and (min-width: 1250px) {
                .container_menu {
                    width: 90% !important;
                    display: flex !important;
                    justify-content: center;
                    flex-direction: column;
                    margin: auto;
                    .box_menu {
                        display: flex;
                        justify-content: center;
                        .submenu_card {
                            max-width: 350px;
                            min-width: 350px;
                        }
                    }
                }
            }
            
            .container_menu {
                width: 100%;
                margin-top: -4rem;
                border-radius: 2rem 2rem 0 0;
                background-color: #f6f6f6;
                display: block;
                font-family: $Roboto;
                position: relative;
                z-index: 1;
                .menu_title {
                    padding: 2rem 1rem 1rem 1rem;
                    display: flex;
                    justify-content: space-between;
                    h2 {
                        margin: 0;
                        font-family: $Shrikhand;
                    }
                }
                .submenu {
                    padding: 1rem;
                    .title_menu {
                        h3 {
                            font-weight: lighter;
                            margin-top: 0;
                            position: relative;
                            margin-bottom: 1rem;
                        }
                        hr {
                            position: absolute;
                            width: 30px;
                            border: 1px solid $tertiaire;
                            margin-top: -1rem;
                        }
                    }
                    .submenu_card {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        background-color: white;
                        border-radius: 1rem;
                        margin-bottom: 1rem;
                        box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.289);
                        animation: fade_in 1.5s ease 0s 1 normal forwards;
                        opacity: 0;
                        .submenu_info {
                            display: flex;
                            padding: 1rem;
                            justify-content: space-between;
                            width: 100%;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            .sub_text {
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                .submenu_title {
                                    margin: 0;
                                    font-weight: 500;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                                .submenu_subtitle {
                                    font-weight: lighter;
                                    font-size: 15px;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                            }
                            .submenu_prix {
                                display: flex;
                                bottom: 1rem;
                                right: 1rem;
                                align-items: end;
                            }
                        }
                        // anim_check
                        .menu_green {
                            opacity: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: $tertiaire;
                            border-radius: 0 1rem 1rem 0;
                            overflow: hidden;
                            width: 0;
                            cursor: pointer;
                            i {
                                margin: auto;
                                color: white;
                                width: 25px;
                                font-size: 20px;
                                transform: rotate( -380deg);
                                transition-duration: 0.6s;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                ;
                            }
                        }
                        &:hover {
                            display: flex;
                            .menu_green {
                                opacity: 1;
                                animation: menu_check 0.4s ease-in-out forwards;
                                i {
                                    transform: rotate(0);
                                    width: 10px;
                                }
                            }
                        }
                    }
                }
                .div_button {
                    display: flex;
                    text-decoration: none;
                    justify-content: center;
                    padding: 1rem 0rem 3rem 0rem;
                    .button {
                        margin: 1rem;
                        text-decoration: none;
                        color: white;
                        background: linear-gradient($secondaire, $primaire);
                        border-radius: 30px;
                        padding: 0.75rem 2rem;
                        box-shadow: 0.25rem 0.25rem 10px #0e0e0e73;
                        justify-self: center;
                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }