        .menu_img {
            width: 100%;
            height: 18rem;
            object-fit: cover;
            z-index: 0;
        }
        
        .container_menu {
            width: 100%;
            margin-top: -4rem;
            border-radius: 2rem 2rem 0 0;
            background-color: #f6f6f6;
            display: block;
            font-family: $Roboto;
            position: relative;
            z-index: 1;
            .menu_title {
                padding: 2rem 1rem 1rem 1rem;
                display: flex;
                justify-content: space-between;
                h2 {
                    margin: 0;
                    font-family: $Shrikhand;
                }
            }
            .submenu {
                padding: 1rem;
                h3 {
                    font-weight: lighter;
                    margin-top: 0;
                    position: relative;
                    hr {
                        position: absolute;
                        width: 30px;
                        border: 1px solid $tertiaire;
                        margin: 0;
                    }
                }
                .submenu_card {
                    display: flex;
                    justify-content: space-between;
                    background-color: white;
                    border-radius: 1rem;
                    padding: 1rem;
                    margin-bottom: 1rem;
                    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.289);
                    position: relative;
                    animation: fade_in 3000ms ease 0s 1 normal forwards;
                    .submenu_title {
                        margin: 0;
                        font-weight: 500;
                    }
                    .submenu_subtitle {
                        font-weight: lighter;
                        font-size: 15px;
                    }
                    .submenu_prix {
                        position: absolute;
                        bottom: 1rem;
                        right: 1rem;
                    }
                }
            }
            .div_button {
                display: flex;
                text-decoration: none;
                justify-content: center;
                padding: 1rem 0rem 3rem 0rem;
                .button {
                    margin: 1rem 1rem 1rem 1rem;
                    text-decoration: none;
                    color: white;
                    background: linear-gradient($secondaire, $primaire);
                    border-radius: 30px;
                    padding: 0.75rem 2rem;
                    box-shadow: 0.25rem 0.25rem 10px #0e0e0e73;
                    justify-self: center;
                }
            }
        }