.footer {
    background-color: #292929e9;
    padding: 1rem;
    color: white;
    @media screen and (min-width: 780px) {
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            ul {
                display: inherit;
                width: 80%;
                justify-content: space-around;
            }
        }
    }
    .footer_logo {
        font-family: $Shrikhand;
    }
    ul {
        list-style-type: none;
        padding: 0;
        .footer_link {
            font-family: $Roboto;
            margin: 0.5rem 0;
            a {
                text-decoration: none;
                color: white;
                padding-bottom: 1rem;
            }
            .sticker {
                width: 20px;
                height: 20px;
                padding-right: 0.5rem;
            }
        }
    }
}