.footer {
    background-color: #354146;
    padding: 1rem;
    color: white;
    .footer_logo {
        font-family: $Shrikhand;
    }
    ul li {
        text-decoration: none;
        color: white;
    }
}