.footer {
    background-color: #292929e9;
    padding: 1rem;
    color: white;
    .footer_logo {
        font-family: $Shrikhand;
    }
    ul {
        list-style-type: none;
        padding: 0;
        a {
            text-decoration: none;
            color: white;
        }
    }
}