.footer {
    background-color: #292929e9;
    padding: 1rem;
    color: white;
    .footer_logo {
        font-family: $Shrikhand;
    }
    ul {
        list-style-type: none;
        padding: 0;
        .footer_link {
            font-family: $Roboto;
            margin: 0.5rem 0;
            a {
                text-decoration: none;
                color: white;
                padding-bottom: 1rem;
            }
            .sticker {
                width: 20px;
                height: 20px;
                padding-right: 0.5rem;
            }
        }
    }
}