header {
    position: relative;
    .return {
        position: absolute;
        vertical-align: middle;
        left: 1rem;
    }
    .header_logo {
        text-align: center;
        font-family: $Shrikhand;
        padding: 0.5rem;
        margin: 0;
    }
}