 body {
     margin: 0;
 }
 
 main {
     font-family: $Roboto;
     .local {
         padding: 1rem;
         text-align: center;
         background-color: #e7e7e7;
         box-shadow: inset 0 20px 20px -29px rgba(0, 0, 0, 0.8);
     }
     .exp {
         background-color: #f2f2f2e3;
         text-align: center;
         padding: 2rem 2rem 4rem 2rem;
         h2 {
             margin: 0;
             font-size: 23px;
         }
         .sous_texte {
             font-weight: lighter;
             padding-bottom: 2rem;
         }
         .button {
             text-decoration: none;
             color: white;
             background: linear-gradient($secondaire, $primaire);
             border-radius: 30px;
             padding: 1rem;
             box-shadow: 0.25rem 0.25rem 10px #0e0e0e73;
         }
     }
     .fct {
         margin-bottom: 3.5rem;
         h2 {
             padding: 3rem 1rem 1rem 1rem;
             margin: 0;
             font-size: 23px;
         }
         .fct_container {
             .fct_ol {
                 margin: 0;
                 padding-left: 1.75rem;
                 padding-right: 1rem;
                 list-style: none;
                 counter-reset: list-number;
                 .fct_object {
                     padding: 1.5rem;
                     margin: 1rem 0 1rem 0;
                     box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.152);
                     border-radius: 1rem;
                     background-color: #f6f6f6;
                     position: relative;
                     .fct_ast {
                         width: 20px;
                         height: 20px;
                         padding-right: 0.5rem
                     }
                 }
                 .fct_object:hover {
                     background-color: #9256dc33;
                     color: $primaire;
                     i {
                         color: $primaire;
                     }
                 }
                 .fct_object::before {
                     counter-increment: list-number;
                     content: counter(list-number);
                     background-color: $primaire;
                     height: 1.5rem;
                     width: 1.5rem;
                     border-radius: 50%;
                     color: #fff;
                     position: absolute;
                     left: -0.75rem;
                     display: flex;
                     justify-content: center;
                 }
             }
         }
     }
     .container {
         padding: 1rem;
         background-color: #f2f2f2e3;
         text-decoration: none;
         .card_restaurants {
             display: flex;
             flex-direction: column;
             .card {
                 position: relative;
                 margin: 15px 0 px;
                 margin-bottom: 1rem;
                 text-decoration: none;
                 color: black;
                 box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.289);
                 border-radius: 1rem;
                 img {
                     height: 11rem;
                     width: 100%;
                     object-fit: cover;
                     border-radius: 1rem 1rem 0 0;
                 }
                 .card_badge {
                     background-color: #99e2d0;
                     color: #1b6150;
                     padding: 0.5rem;
                     position: absolute;
                     top: 1rem;
                     right: 0.75rem;
                     text-decoration: none;
                 }
                 .card_under {
                     display: flex;
                     justify-content: space-between;
                     background-color: white;
                     margin-top: -4px;
                     padding: 1rem;
                     border-radius: 0 0 1rem 1rem;
                     .card_info {
                         h3 {
                             margin: 0;
                             font-weight: 500;
                         }
                         span {
                             font-weight: lighter;
                         }
                         .heart {
                             display: flex;
                             align-items: center;
                             font-size: 16px;
                             .heart_icon {}
                         }
                     }
                 }
             }
         }
     }
 }