     main {
         font-family: $Roboto;
         .local {
             text-align: center;
             background-color: #e5e5e5;
             padding: 1rem;
             box-shadow: inset 0 20px 20px -29px rgba(0, 0, 0, 0.8);
         }
         .exp {
             background-color: #f2f2f2;
             text-align: center;
             padding: 2rem;
             h2 {
                 margin: 0;
                 font-size: 23px;
                 font-weight: bold;
             }
             .buttons {
                 text-decoration: none;
             }
         }
     }