 body {
     margin: 0;
 }
 
 main {
     font-family: $Roboto;
     .local {
         padding: 1rem;
         text-align: center;
         background-color: #e7e7e7;
         box-shadow: inset 0 20px 20px -29px rgba(0, 0, 0, 0.8);
     }
     .exp {
         background-color: #f2f2f2e3;
         text-align: center;
         padding: 2rem 2rem 4rem 2rem;
         h2 {
             margin: 0;
             font-size: 23px;
         }
         .sous_texte {
             font-weight: lighter;
             padding-bottom: 2rem;
         }
         .button {
             text-decoration: none;
             color: white;
             background: linear-gradient($secondaire, $primaire);
             border-radius: 30px;
             padding: 1rem;
             box-shadow: 0.25rem 0.25rem 10px #0e0e0e73;
         }
     }
     .fct {
         h2 {
             padding: 3rem 1rem 2rem 1rem;
             margin: 0;
             font-size: 23px;
         }
         .fct_object {
             ol {
                 display: flex;
                 box-shadow: 0.25rem 0.25rem 10px #0e0e0e73;
             }
             ol li::before {
                 content: counter(before);
                 background-color: $primaire;
                 border-radius: 20 px;
                 color: #fff;
                 counter-increment: ope;
             }
         }
     }
     .container {
         padding: 1rem;
         background-color: #f2f2f2e3;
         text-decoration: none;
         .card_restaurants {
             display: flex;
             flex-direction: column;
             .card {
                 position: relative;
                 margin: 15px 0 px;
                 margin-bottom: 1rem;
                 img {
                     height: 12rem;
                     width: 100%;
                     object-fit: cover;
                     border-radius: 1rem 1rem 0 0;
                 }
                 .card_badge {
                     background-color: #99e2d0;
                     color: #1b6150;
                     padding: 0.5rem;
                     border-radius: 0.125 rem;
                     position: absolute;
                     top: 1rem;
                     right: 0.75rem;
                     text-decoration: none;
                 }
                 .card_under {
                     display: flex;
                     justify-content: space-between;
                     background-color: white;
                     margin-top: -4px;
                 }
             }
         }
     }
 }