 main {
     font-family: $Roboto;
     .local {
         text-align: center;
         background-color: #e7e7e7;
         padding: 1rem;
         box-shadow: inset 0 20px 20px -29px rgba(0, 0, 0, 0.8);
     }
     .exp {
         background-color: #f2f2f2e3;
         text-align: center;
         padding: 2rem 2rem 4rem 2rem;
         h2 {
             margin: 0;
             font-size: 23px;
         }
         .sous_texte {
             font-weight: lighter;
             padding-bottom: 2rem;
         }
         .button {
             text-decoration: none;
             color: white;
             background: linear-gradient($secondaire, $primaire);
             border-radius: 30px;
             padding: 1rem;
             box-shadow: 0.25rem 0.25rem 10px #0e0e0e73;
         }
     }
 }