.menu_img {
    width: 100%;
    height: 14rem;
    object-fit: cover;
}

.container_menu {
    width: 100%;
    margin-top: -4rem;
    border-radius: 2rem 2rem 0 0;
    background-color: #f6f6f6;
    display: block;
    .menu_title {
        display: flex;
        justify-content: space-between;
        h2 {
            margin: 0;
        }
    }
    .submenu {
        padding: 1rem;
        h3 {
            text-decoration: underline $tertiaire;
        }
        .submenu_card {
            display: flex;
            justify-content: space-between;
            background-color: white;
            border-radius: 1rem;
            padding: 1rem;
            margin-bottom: 1rem;
            box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.289);
            .submenu_title {
                margin: 0;
            }
        }
    }
}